<%- include('./components/header.ejs') %>
<%- include('./components/nav.ejs') %>
<div class="container">
    <%- include('./components/notification.ejs') %>
    <%- include('./components/articlet-summary.ejs') %>
</div>
<%- include('./components/footer.ejs') %>